<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hotel Rooms</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<table>
    <tr>
        <th>Room Number</th>
        <th>Name</th>
        <th>Beds</th>
    </tr>
    <tr th:each="room : ${rooms}">
        <td th:text="${room.getNumber()}"></td>
        <td th:text="${room.getName()}"></td>
        <td th:text="${room.getInfo()}"></td>
    </tr>
</table>

</body>
</html>